<div class="container-fluid">
    <h3>Device Information</h3>
    <table class="table table-bordered mt-5">
        <thead class="table-secondary">
          <tr>
            <th>ID</th>
            <th>Control Number</th>
            <th>Brand</th>
            <th>Model</th>
            <th>High End</th>
            <th>Release Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary">Add Specification</button>&nbsp;
                <button class="btn btn-danger">Delete</button>
            </td>
          </tr>
    
        </tbody>
      </table>
</div>

